#app {
  perspective: 200px;
}

.fill, .page {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page {
  will-change: transform, opacity;
}

.genome-center {
  height: 60%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.webgl-message {
  text-align: center;
  height: 60%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-img {
  width: 90%;
}

.title-questions-img {
  width: 100%;
}

.start-img {
  position: absolute;
  top: 7px;
  left: 110px;
  width: 150px;
}

.cell-img {
  width: 50%;
}

.protein-screen {
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  width: 100%;
}

#nav-buttons {
  transform: rotateX( 10deg ) translateZ( 10px );
  left: 80px;
  top: 50px;
  z-index: 10;
  position: absolute;
}

span.hidden {
  display: block !important;
}

.my-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 32px;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.80);
  border: none rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.my-button:hover {
  background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

.my-button-disabled {
  border: none;
  background-image: none;
  filter: alpha(opacity=40);
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
}

.overlay {
  position: absolute;
  background-color: rgba(245, 226, 229, 0.91);
  font-size: 1.6em;
  padding: 30px;
  font-weight: 200;
  width: 50%;
  text-align: justify;
  border-radius: 4px;
}

.overlay>p {
  text-indent: 1.5em;
}

@media (min-width: 850px)
{
  .overlay {
    font-size: 2.0em;
  }
}

@media (max-width: 450px)
{
  .overlay {
    font-size: 1.2em;
  }
}

.bottom {
  bottom: 5%;
}

.top {
  top: 15%;
}

.left {
  left: 5%;
}

.right {
  right: 5%;
}

.center {
  left: 50%;
  transform: translate(-50%, 0);
}
